Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /functionpoint

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ index.php [L]
